.nav-pills {
  .nav-link {
    background: #d0d0d03d;
    color: var(--muted);
    border-radius: 38px;
    font-weight: 500;
    font-size: clamp(13.5px, 1.2vw, 16px);
    padding: 5px 20px;
    margin-right: 0.5rem;
    transition: all 0.2s ease;

    &:hover {
      background-color: #ececec;
    }

    &.active {
      background-color: var(--primary);
      color: var(--white);
    }

    &:focus {
      box-shadow: none;
    }
  }
}
